auth_enabled: false

server:
  http_listen_port: 3100

limits_config:
  allow_structured_metadata: false

common:
  path_prefix: /loki
  replication_factor: 1

  ring:
    kvstore:
      store: memberlist

  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules

schema_config:
  configs:
    - from: 2023-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

memberlist:
  join_members:
    - loki
